:root {
    --rows: 16;
    --columns: 16;
    /*--color: black;*/
}

html, body {
    height: 100vh;
    width: 100vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #33d5ba;
    overflow:auto;
}

.panel {
    height: 100%;
    width: 100%;
    min-width: 14em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3833d5;
    color: #d57933;
}

.panel button {
    color: #3833d5;
    background-color: #d57933;
    font-weight: bold;
    border: 0;
    margin: 1em;
    padding: 1em;
}

.panel .buttonOn {
    border: 0.2em solid #3833d5;
    box-shadow: 0px 0px 0.2em #3833d5;
}

#colorPanel {
    display: flex;
    justify-content: center;
}

#currentColorInput {
    height: calc(100% - 2em);
    background-color: var(--color);
    aspect-ratio: 1;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 0;
}

#container {
    height: 100%;
    width: auto;
    display: grid;
    grid-template-columns: repeat(var(--columns), auto);
    grid-template-rows: repeat(var(--rows), auto);
    background-color: white;
    aspect-ratio: 1;
}

#container div {
    aspect-ratio: 1;
    user-select: none;
}

.painted {
    background-color: var(--color);
}

.erased {
    background-color: white;
}

footer {
    padding: 5px;
    border-radius: 3px;
    background-color: #d57933;
    position: absolute;
    bottom: 0;
}